@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  scroll-behavior: smooth;
}

body {
  
  background:#162b3f;
}

section {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  background: #162b3f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='aadef149-4ba5-4382-9e09-7df651a328a5' data-name='Layer 1' width='690' height='690.19433' viewBox='0 0 704 745.19433' class='injected-svg modal__media modal__lg_media' data-src='https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/mobile_web_2g8b.svg'%3E%3Ctitle%3Emobile_web%3C/title%3E%3Cpath d='M344.69391,661.25125l-8.38722-33.073A429.46111,429.46111,0,0,0,290.74208,611.834l-1.05792,15.37062L285.39,610.2712c-19.202-5.482-32.265-7.89648-32.265-7.89648s17.64872,67.09731,54.6606,118.39272l43.124,7.57249-33.50125,4.83219A173.75069,173.75069,0,0,0,332.395,749.05228c53.84043,49.96979,113.80669,72.89422,133.93843,51.20309s-7.1946-79.78376-61.035-129.75355c-16.69106-15.49113-37.65818-27.92221-58.646-37.70546Z' transform='translate(-248 -77.40283)' fill='%23fb6f3c'/%3E%3Cpath d='M424.44317,625.32976l9.91563-32.64732a429.46451,429.46451,0,0,0-30.557-37.54385L394.9511,567.7497l5.07688-16.71545c-13.60408-14.61837-23.53857-23.43755-23.53857-23.43755s-19.57459,66.561-14.40543,129.60362l33.00186,28.77326L363.9095,672.79331a173.75138,173.75138,0,0,0,4.62073,21.34072c20.26038,70.60659,59.74453,121.22757,88.19038,113.06511s35.08143-72.01738,14.821-142.624c-6.28092-21.88874-17.80407-43.36822-30.71362-62.59176Z' transform='translate(-248 -77.40283)' fill='%23fb6f3c'/%3E%3Cellipse cx='352' cy='727.19433' rx='352' ry='18' fill='%233f3d56'/%3E%3Cpath d='M805.65354,250.35009h-3.99878V140.80476a63.40186,63.40186,0,0,0-63.40205-63.40193H506.16627a63.40186,63.40186,0,0,0-63.402,63.40193V741.77894a63.40186,63.40186,0,0,0,63.402,63.40193H738.25271a63.40186,63.40186,0,0,0,63.40205-63.40193V328.32631h3.99878Z' transform='translate(-248 -77.40283)' fill='%233f3d56'/%3E%3Cpath d='M788.16,141.24713v600.09a47.3508,47.3508,0,0,1-47.35,47.35H507.61a47.35084,47.35084,0,0,1-47.35-47.35v-600.09a47.35089,47.35089,0,0,1,47.35-47.35H535.9a22.50661,22.50661,0,0,0,20.83,30.99H689.69a22.50673,22.50673,0,0,0,20.83-30.99h30.29A47.35084,47.35084,0,0,1,788.16,141.24713Z' transform='translate(-248 -77.40283)' fill='%23fff'/%3E%3Cpath d='M788.16,612.40716v128.93a47.3508,47.3508,0,0,1-47.35,47.35H507.61a47.35084,47.35084,0,0,1-47.35-47.35v-116.36a222.97136,222.97136,0,0,1,327.9-12.57Z' transform='translate(-248 -77.40283)' fill='%23e6e6e6'/%3E%3Cpolygon points='322.174 511.167 312.75 511.167 315.891 327.064 319.033 327.064 322.174 511.167' fill='%23e6e6e6'/%3E%3Cpath d='M578.02779,288.5586l15.21367-23.512a352.49687,352.49687,0,0,0-15.60827-36.53743l-9.83764,7.94573,7.78946-12.03815c-7.42343-14.61275-13.26462-23.81956-13.26462-23.81956s-30.5115,48.08118-40.70521,98.98824l19.52266,30.17145L519.5254,312.3006a142.61,142.61,0,0,0-1.18572,17.8826c0,60.291,19.69081,109.16642,43.98071,109.16642s43.98072-48.87547,43.98072-109.16642c0-18.69079-4.22846-38.24546-10.0614-56.33418Z' transform='translate(-248 -77.40283)' fill='%23e6e6e6'/%3E%3Cpolygon points='267.479 524.167 262.908 524.167 264.432 434.879 265.955 434.879 267.479 524.167' fill='%23e6e6e6'/%3E%3Cpath d='M519.28775,456.06773l7.37846-11.40307a170.95723,170.95723,0,0,0-7.56983-17.72025l-4.77115,3.85359,3.7778-5.83837c-3.60028-7.087-6.43319-11.55223-6.43319-11.55223s-14.79775,23.31885-19.74158,48.00821l9.46827,14.63282-10.48179-8.46609a69.16528,69.16528,0,0,0-.57506,8.67286c0,29.24044,9.54982,52.94451,21.33016,52.94451S533,505.49564,533,476.2552c0-9.06483-2.05076-18.54863-4.87967-27.32146Z' transform='translate(-248 -77.40283)' fill='%23e6e6e6'/%3E%3Cpolygon points='386.479 524.167 381.908 524.167 383.432 434.879 384.955 434.879 386.479 524.167' fill='%23e6e6e6'/%3E%3Cpath d='M638.28775,456.06773l7.37846-11.40307a170.95723,170.95723,0,0,0-7.56983-17.72025l-4.77115,3.85359,3.7778-5.83837c-3.60028-7.087-6.43319-11.55223-6.43319-11.55223s-14.79775,23.31885-19.74158,48.00821l9.46827,14.63282-10.48179-8.46609a69.16528,69.16528,0,0,0-.57506,8.67286c0,29.24044,9.54982,52.94451,21.33016,52.94451S652,505.49564,652,476.2552c0-9.06483-2.05076-18.54863-4.87967-27.32146Z' transform='translate(-248 -77.40283)' fill='%23e6e6e6'/%3E%3Ccircle cx='264' cy='186.19433' r='42' fill='%23e6e6e6'/%3E%3Cpolygon points='415.872 234.173 492.533 236.077 502.852 144.666 415.872 144.666 415.872 234.173' fill='%232f2e41'/%3E%3Cpath d='M644.76993,239.9612l-21.14671-81.078s5.84211-38.92023,19.97409-38.27814-3.66865,38.049-3.66865,38.049l23.94311,70.03766Z' transform='translate(-248 -77.40283)' fill='%23ffb8b8'/%3E%3Cpath d='M686.22412,443.10875l3.31146,33.11459s-104.311,71.19639-104.311,100.99953-3.31146,124.17974-3.31146,124.17974l38.08179,1.65573,3.31146-44.70471s8.27865-49.67189,3.31146-67.88492l54.63908-41.39325s-16.5573,19.86876-13.24584,54.63909S663.0439,706.3698,663.0439,706.3698l39.73752,3.31146s4.96719-36.42606,6.62292-39.73752,9.93438-62.91773,1.65573-79.475l67.88493-79.475s23.18022-29.80314,0-59.60627l-13.24584-6.62292Z' transform='translate(-248 -77.40283)' fill='%232f2e41'/%3E%3Cpath d='M583.56887,694.77969l-3.31146,21.52449-21.52449,51.32763s-36.42606,18.213-9.93438,21.52449,36.42606-3.31146,41.39325-11.59011,14.90157-21.52449,14.90157-21.52449L603.43763,790.812h8.27865l13.56912-47.49194a29.95239,29.95239,0,0,0-5.09327-26.76756q-.09786-.12417-.1972-.24835c-6.62292-8.27865-3.31146-19.86876-3.31146-19.86876Z' transform='translate(-248 -77.40283)' fill='%232f2e41'/%3E%3Cpath d='M666.35536,694.77969l-3.31146,21.52449-21.52449,51.32763s-36.42605,18.213-9.93437,21.52449,36.426-3.31146,41.39324-11.59011,14.90157-21.52449,14.90157-21.52449L686.22412,790.812h8.27865l13.56913-47.49194a29.95239,29.95239,0,0,0-5.09328-26.76756q-.09786-.12417-.1972-.24835c-6.62292-8.27865-3.31146-19.86876-3.31146-19.86876Z' transform='translate(-248 -77.40283)' fill='%232f2e41'/%3E%3Ccircle cx='458.09288' cy='162.05113' r='33.1146' fill='%23ffb8b8'/%3E%3Cpath d='M704.43715,267.60138l14.90157,34.77032,29.80314-23.18022s-18.213-24.83594-18.213-28.1474Z' transform='translate(-248 -77.40283)' fill='%23ffb8b8'/%3E%3Cpath d='M707.74861,287.47013l7.06394,4.34051s22.82273-12.10094,28.576-20.6387c0,0,20.65486-6.882,28.93351,9.67527s-4.96719,130.80267-4.96719,130.80267,8.27865,11.59011,6.62292,16.5573S778.945,441.453,778.945,441.453v9.93438s-94.37661,1.65573-94.37661-6.62292V418.2728l-9.93438-3.31146s-9.93438,21.52449-13.24584,19.86876-19.86876-14.90157-19.86876-14.90157,26.49168-87.75369,41.39325-102.65526l18.213-31.45887Z' transform='translate(-248 -77.40283)' fill='%23fb6f3c'/%3E%3Cpath d='M704.43715,289.12586s-3.31146-6.62292-8.27865-8.27865-29.80314-36.42605-29.80314-36.42605l3.31146-18.213-33.1146-4.96719s1.65573,18.213,8.27865,29.80314,43.049,71.19638,43.049,71.19638l18.213-33.1146Z' transform='translate(-248 -77.40283)' fill='%23fb6f3c'/%3E%3Cpath d='M730.101,420.75639l-19.86875,59.60628s-41.39325,46.36044-18.213,46.36044,34.77032-41.39325,34.77032-41.39325l28.14741-59.60628Z' transform='translate(-248 -77.40283)' fill='%23ffb8b8'/%3E%3Cpath d='M666.40465,239.938c26.52245-10.63018,52.66949-12.89779,78.1352,0V218.51138A13.95535,13.95535,0,0,0,730.58449,204.556H677.42954a11.02489,11.02489,0,0,0-11.02489,11.02489Z' transform='translate(-248 -77.40283)' fill='%232f2e41'/%3E%3Cpath d='M750.79759,285.8144s15.10671-12.79586,23.28279,1.88072,3.20889,77.59432,1.55316,85.873-13.24584,59.60628-13.24584,59.60628l-39.73752-8.27865s-3.31146-23.18022,6.62292-21.52449Z' transform='translate(-248 -77.40283)' fill='%23fb6f3c'/%3E%3Cpath d='M767.27813,271.58657c-7.47508-4.10485-10.95384-13.3183-11.20173-21.8427-.24822-8.5244,1.81928-16.96078,1.98174-25.48727a19.70066,19.70066,0,0,0-.44217-5.19738,19.99152,19.99152,0,0,0-2.85872-5.91734c-9.72073-14.89484-26.61815-25.37235-44.41647-25.53721a19.72685,19.72685,0,0,0-7.51573,1.38171c-1.84014.737-2.44183.64676-2.79446,2.90614a18.80778,18.80778,0,0,0-12.90778.41044,43.67006,43.67006,0,0,0-11.28781,6.72245,50.91134,50.91134,0,0,0-5.707,4.94121c-9.4059,9.74414-11.57188,24.76187-8.847,38.02816.88586,4.313-3.3647,8.47684-6.88166,11.12594s-7.57824,5.08173-9.3054,9.132c-1.66117,3.89607-.74885,8.35188-1.08333,12.57414a21.50585,21.50585,0,0,1-13.71993,18.06931,6.619,6.619,0,0,0,6.38589,2.24579,15.71689,15.71689,0,0,0,6.65437-3.168,39.58173,39.58173,0,0,0,14.7562-21.89461c1.03307,4.69842.63244,9.54449.59442,14.355a40.097,40.097,0,0,1-2.90746,15.67932,22.95849,22.95849,0,0,1-10.57045,11.63912c4.6135,2.25911,9.69783.62172,13.60738-2.71074,3.90938-3.33246,6.21789-8.16974,7.83049-13.047a65.02715,65.02715,0,0,0,3.1334-24.67964A35.23865,35.23865,0,0,1,674.197,295.3399a36.73,36.73,0,0,1-12.45807,21.62429,71.55883,71.55883,0,0,0,32.75215-8.24838,18.53725,18.53725,0,0,0,6.71768-5.17351c3.251-4.50991,2.48187-10.6609,1.57006-16.14519-.72122-4.3364,4.69775-10.60546,1.5945-13.71918a5.14429,5.14429,0,0,0-3.44914-1.48246c-9.45259-.91006-18.20527-5.65746-23.25035-13.70275-3.53538-5.63781-5.87629-12.07592-5.87629-18.09738a32.93149,32.93149,0,1,1,64.38483,9.77247,66.08219,66.08219,0,0,0-2.39716,11.16014,87.6848,87.6848,0,0,1-2.6728,12.98267c-2.34787,8.17535-6.32542,16.51719-13.68526,20.7814,2.47315,1.35348,5.33556,1.41445,8.13766,1.72322,9.23506,1.01758,18.9478.79289,27.30655-3.26312C761.2304,289.496,767.87372,280.85839,767.27813,271.58657Z' transform='translate(-248 -77.40283)' fill='%232f2e41'/%3E%3Cpolygon points='490.38 252.288 481.739 323.422 482.101 255.6 490.38 252.288' opacity='0.2'/%3E%3Cpolygon points='518.772 336.291 515.216 358.255 523.494 361.567 518.772 336.291' opacity='0.2'/%3E%3C/svg%3E");
  background-size:auto;
  background-repeat: no-repeat;
  background-position: center right;
  margin-right: auto;
  place-items: center;
  position: relative;
  margin-left: 7px;
}


section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 86%;
  background: linear-gradient(#162b3fcb, #4c757559);
  clip-path: polygon(0% 15%, 45% 15%, 60% 62%, 45% 100%, 0% 100%);
}


.container {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  margin-top: 10px;
  margin-left: 43px;
}

.content {
  position: relative;
    display: flex;
    width: 1200px;
    height: 500px;
    margin: 30px;
   box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    border-radius: 15px;
    background: transparent;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: #233a5088;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.content h1 {
  color: rgb(252, 252, 252);
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 60px 30px;
  line-height: 1.6;
  display: inline-flex;
}

.content span {
  color: rgb(184, 183, 204);
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 30px 30px;
  text-overflow: ellipsis;
}

.navigation{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 30px;
  color: rgb(172, 169, 169);
  display: flex;
  flex-direction: row;
  z-index: 1000;
  justify-content: space-evenly;
}

 .navigation a {
  display: inline-flex;
  text-decoration: none;
  color: #eee;
  font-weight: 900;
  font-size: 1em;
  letter-spacing: 8px;
}


#links:hover {
  text-decoration: #507a7a underline 4px;
}

#works {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background: #162b3f;
  place-items: center;
  position: relative;
  border: 2px solid transparent;
}

#works::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#26244eaf, #507a7a42);
  clip-path: polygon(65% 0, 100% 0, 100% 100%, 63% 100%, 29% 55%);
}

.container_2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

.content_2 a{
  position: relative;
    display: flex;
    width: 800px;
    height: 700px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    border-radius: 15px;
    background: transparent;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.content_2 a img {
  position: absolute;
  width: 70%;
}

#works span {
  text-transform: capitalize;
  color: rgb(214, 213, 218);
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 20px 20px;
  text-overflow: ellipsis;
}

.container_2 h2 {
  color: rgb(167, 166, 185);
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  padding: 20px 20px;
  text-overflow: ellipsis
}



#about_me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background: #162b3f;
  place-items: center;
  position: relative;
  border: 2px solid transparent;
}

#about_me::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#26244e, #507a7a4f);
  clip-path: polygon(0% 0%, 40% 0, 63% 50%, 36% 100%, 0% 100%);
}


#about_me span {
  text-transform: capitalize;
  color: rgb(214, 213, 218);
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 20px 20px;
  text-overflow: ellipsis;
}

#contacts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background: #162b3f;
  place-items: center;
  position: relative;
  border: 2px solid transparent;
}

#contacts::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#26244e, #507a7a46);
  clip-path: polygon(65% 0, 100% 0, 100% 100%, 63% 100%, 29% 55%);
}

#contacts span {
  text-transform: capitalize;
  color: rgb(214, 213, 218);
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 20px 20px;
  text-overflow: ellipsis;
}


.content_2 img {
  transition: all .1s ease-in-out;
}

.content_2 img:hover {
  transform: scale(1.3);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 30vh;
  background: #162b3f;
  place-items: center;
  position: relative;
  border: 2px solid transparent;
 
}

.contenitore {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

.info_logo {
  position: relative;
    width: 1200px;
    height: 230px;
    border-radius: 15px;
    background: transparent;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
}



.footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#162b3f, #507a7a46);
  clip-path: polygon(7% 0, 93% 0, 100% 51%, 94% 100%, 70% 100%, 30% 100%, 7% 100%, 0 53%);
}


.info_logo a {
  font-size: 2em;
  letter-spacing: 9px;
  text-decoration: none;
  color: white;
  position: relative;
  font-weight: 300;
  text-align: center;
  padding: 20px 20px;
  text-overflow: ellipsis;
}

.info_logo a:hover {
  outline: 0;
  color: #507a7a;
}

.dettagli {
  text-transform: capitalize;
  color: rgb(214, 213, 218);
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 2px;
  text-overflow: ellipsis;
  text-align: center;
}

.dettagli a {
  font-size: 0.6em;
  letter-spacing: 9px;
  color: white;
  position: relative;
  font-weight: 300;
  text-align: center;
  text-overflow: ellipsis;
}

.dettagli a:hover {
  outline: 0;
  color:#507a7a;
}

/*--------------------------------- PAGINA WORKS --------------------------------------------------------- */
.works-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../img/works.jpg);
  background-size: cover;
  background-position: center bottom ;
  place-items:initial;
  position: relative;
}

.works-header .title {
  color: #eee;
  font-size: 3rem;
  background: #162b3f33;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

.title {
  position: relative;
    display: flex;
    width: 1200px;
    height: 500px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    border-radius: 15px;
    background: transparent;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.title a {
  color: #eee;
}
.title a:hover {
  color: #507a7a;
}
.navbar{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0 0 0;
    color: rgb(172, 169, 169);
    display: flex;
    z-index: 1000;
}

 .navbar a {
  display: flex;
  margin: auto;
  text-decoration: none;
  color: #eee;
  text-overflow: ellipsis;
  font-weight: 900;
  font-size: 1em;
  letter-spacing: 8px;
}


.navbar a:hover {
  text-decoration: #507a7a underline 4px;
}


.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #eee;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}




/*---------------------------------------- ROMBI E MAIN ---------------------------------------------------*/
.main {
  background:#162b3f;
}


/*---------------------------------- SEZIONE PRINCIPALE----------------------------------------------------- */
.main img {
  position: absolute;
  width: 150px;
  height: 158px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-60%);
  box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
  transition-property: transform;
  transition-duration: .3s;
}
/*---------------------------------- ROMBI ----------------------------------------------------- */

/*---------------------------------- INTRODUZIONE PAGINA----------------------------------------------------- */
.intro {
  margin: 0 auto;
  margin-top: 100px;
  color: #eee;
  padding: 50px 50px;
  line-height: 1.5;
}

.intro h2 {
  font-size: 75px;
  
}

.intro p {
  font-size: 50px;
}

.conclusioni {
  margin: 0 auto;
  margin-top: 100px;
  color: #eee;
  padding: 50px 50px;
  line-height: 1.5;
}

.conclusioni p {
  font-size: 50px;
}

/*------------------------------ ABOUT ME PAGE ---------------------------------------------------- */

.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../img/about_me.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  place-items:initial;
  position: relative;
  
}

.about-header .title {
  color: #eee;
  font-size: 3rem;
  background: #162b3f73;
}

.container_3 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

.container_3 h2 {
  color: rgb(167, 166, 185);
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  padding: 20px 20px;
  text-overflow: ellipsis
}


/*------------------------------ CONTACT PAGE ---------------------------------------------------- */

.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../img/contact.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  place-items:initial;
  position: relative;
  
}

.contact-header .title {
  color: #eee;
  font-size: 3rem;
  background: #162b3f73;
}

/* ------------------ menu hamburger --------------------- */

/* --------------- Responsive -------------------- */

@media screen and (max-width: 768px) {
  section {
    min-height: 58vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}
section::after {
  width: 50%;
  height: 90%;
}

.navigation {
  flex-direction: column;
}

.navigation a {
  font-size: 1.5em;
}

.container {
  max-width: 500px;
  margin-left: 0;
}

.content {
  width: 500px;
  height: 300px;
}

.content h1 {
  font-size: 2em;
}

.content span {
  font-size: 1em;
  color: #fff;
}

.arrows {
  display: none;
}

#works {
  flex-direction: column;
}

#works span {
  font-size: 2em;
  line-height: 1.5;
}

#about_me {
  flex-direction: column;
}

#about_me span {
  font-size: 2em;
  line-height: 1.5;
}

.container_3 {
  order: 2;
}

#contacts {
  flex-direction: column;
}

#contacts span {
  font-size: 2em;
  line-height: 1.5;
}

.content_2 a {
  width: 700px;
  height: 500px;
}

}